
<h3>Hello, <%=current_user.username%></h3>


  <p>Your Library:</p>
  <% @user.books.each do |book| %>
      <li><a href="/books/<%=book.id%>"><%= book.author %> - <%= book.title %></a></li>
  <% end %><br><br>


  <a class="button" href="/">Home</a>
