
<h3>Add a new book to your Library</h3>

<form action="/books" method="POST">
  <label> Author: </label>
  <input type="text" name="author"> </br><br>
  <label> Title: </label>
  <input type="text" name="title"> </br><br>

  <input type="submit" value="Add">
</form>
