<% if logged_in? %>

<p>
<h3> Welcome, <%=current_user.username%></h3>
<h4>“Never trust anyone who has not brought a book with them.”</h4><br>
</p>





<% else %>
<h2>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h2>


<%end%>
