<% if logged_in? %>


<h3> Welcome, <%=current_user.username%></h3><br>
<div class="container">
<blockquote class="blockquote">
<h2 class="font-italic font-weight-light">“Never trust anyone who has not brought a book with them.”</h2><br>
 <h4 class="font-weight-light">- Lemony Snicket, Horseradish</h4>
 </footer>
</blockquote>
</div>



<% else %>
<h2>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h2>


<%end%>
